*{/* remover margens padrão do navegador*/
    /* margin trabalha o espaçamento de fora */
    margin: 0;
    /* padding trabalha o espaçamento interno (conteúdo) */
    padding: 0;
    box-sizing: border-box;
}


/* html,body são elementos pai */
html,body{
    height: 100%;
}

.header{
    font-family: 'Roboto Condensed', sans-serif;
    height: 50px;
    width: 100%;
    background-color: mediumorchid;

}

.header img{
    width:40px;
    height: 30px;
    margin-left: 90%;
    margin-top: 10px;
    position:absolute;
    
}

.center{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 10px 5px;
    color:aliceblue;
}

.container-banner{
    width:100%;
    height: 557px;
    background-image: url('../img/leaves-g1ef463419_1920.jpg');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

.form{
    width: 300px;
    height: calc(100% + 40px);
    position: relative;
    top: -20px;
    background-color: burlywood;
    float: right;
    margin-right: 10px;
}

.form h2{
    font-weight: normal;
    font-size: 15px;
    color:mediumorchid;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 20px;
    
}

.input-container{
    margin-top: 10px;
    margin-left: 10px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color:violet;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-container input[type=text]{
    width:200px;
    margin-top: 2px;
}

.obrigatorio{
    margin-top: 20px;
    margin-left:10px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.form .input{
    text-align: center;
}

.form input[type=submit]{
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    width:100px;
    height: 28px;
    display: inline-block;
    color:violet;
    cursor: pointer;
}

.form input[type="submit"]:hover{
    background-color:mediumorchid ;
}

.container-list{
    padding:60px;
    margin-top: 70px;
    margin-left: 20px;
    float:left;
    width: 500px;
    height: 400px;
    background-color:rgba(192, 186, 134, 0.5) ;
    /* border: 10px solid rgba(211, 157, 96, 0.2); */
}
.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 20px;
}

.texto{
    padding: 20px;
    background-color: bisque;
    text-align: center;
}

.texto-center p{
    width: 600px;
    margin: 10px;
    display: inline-block;
    text-align: justify;
}

.logo{
    width: 20px;
    height: 20px;
    background-image: url("../favicon_io/faviconT-32x32.png");
    background-size: 100% 100%;
    position: relative;
    top: 30px;
    left: 50%;
    margin-left: -20px;
}
.icone{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    border-top: 3px solid rgba(211, 157, 96);
    padding: 20px 0;
    display: flex;
}
.footer p{
    margin-left: 20px;
}

.footr{
    width: 400px;
    flex: 1;
}

.linkedin img{
    margin-right: 40px;
    width: 35px;
    height: 30px;
    background-size: 100% 100%;
    float: right;
}