*{/* remover margens padrão do navegador*/
    /* margin trabalha o espaçamento de fora */
    margin: 0;
    /* padding trabalha o espaçamento interno (conteúdo) */
    padding: 0;
    box-sizing: border-box;
}


/* html,body são elementos pai
html,body{
    height: 100%;
}
 */
.header{
    height: 60px;
    width: 100%;
    background-color: mediumorchid;

}

.center{
    
    font-size: 20px;
}