*{/* remover margens padrão do navegador*/
    /* margin trabalha o espaçamento de fora */
    margin: 0;
    /* padding trabalha o espaçamento interno (conteúdo) */
    padding: 0;
}


/* html,body são elementos pai */
html,body{
    height: 100%;
}

/* deixar height auto, pois herdam atributos do elemento pai */
.artigo{
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    background-color: paleturquoise;
    padding: 5px;
}
.artigo h1{
    color: orchid;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* h1-h6 por padrão vem em bold, para tirar só colocar font-weight: normal */
    font-weight: normal;
}

.artigo p{
    line-height: 15px;
    letter-spacing: 5px;
    margin-right: 10px;
}

.lista{
    display: inline-flex;
    /* list-style-position: inside; */
    list-style-type: none;
    gap:1em;
}
/* a ordem de prioridade vem de quando mais especifico for da classe para o elemnto, para aplicar o css */
.lista li{
    color: red;
}

ul a{
    gap: 1em;
}